= hidden_field_tag "question_count", 1
= hidden_field_tag "question_limit", @rand_questions.count
= hidden_field_tag "yes_count", 0
= hidden_field_tag "no_count", 0
= hidden_field_tag "up_count", 0
= hidden_field_tag "down_count", 100
= hidden_field_tag "add_subtract_count", (100.0/(@rand_questions.count).to_f).to_f.round(2)
.row
  .highlight.col-md-7.mainQuestCont
    #shareCircle{style: 'display: none'}
      %h3 That's it!!!
      %p
        .shareCircle
    #questionsContainer
      = hidden_field_tag "q_ids" , @rand_questions.map(&:id).join(",")
      -@rand_questions.each_with_index do |question, index|
        .randQuest{style: "display: #{index == 0 ? 'block': 'none'}",:id => "randQuest_#{index + 1}"}
          %h2#qNumber
            Q: #{index + 1}
          #question
            Do You Know
            %span.qTitle #{question.title}?
      %p
        %a.btn.btn-primary.btn-default.submitAnswer#yes{href: "javascript:" ,role: "button"} Yes
        %a.btn.btn-primary.btn-default.submitAnswer#no{href: "javascript:",role: "button"} No
  .highlight.col-md-4
    %h5 Your General Knowledge Estimated
    %p
      %span#gKwldgEstUp 0 -
      %span#gKwldgEstDown 100%
  .highlight.col-md-4
    %h5 Compare to others


